	:root {
	  --bg-color: #010102;
	  --primary-color: hsl(216, 12%, 8%);
	  --secondary-color: hsl(25, 97%, 53%);
	  --num-color: hsl(216, 12%, 54%);
	  --num-border: hsl(213, 19%, 18%);
	  --font-color: hsl(217, 12%, 63%);
	}

	body {
	  background-color: var(--bg-color);
	  font-family: Arial, Helvetica, sans-serif;

	}

	.container {
	  box-sizing: border-box;
	  border-radius: 30px;
	  width: 400px;
	  height: 400px;
	  margin: 0 auto;
	  padding: 30px;
	  background-color: var(--primary-color);
	}

	.icon-bg {
	  box-sizing: border-box;
	  border-radius: 50%;
	  width: 50px;
	  height: 50px;
	  background-color: var(--num-border);
	}

	.icon {
	  margin: 15px 16px;
	}

	h1 {
	  color: white;

	}

	p,
	.ratings {
	  color: hsl(217, 12%, 63%);
	}

	p {
	  line-height: 25px;
	}

	.ratings {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  margin: 10px;
	}

	.num {
	  width: 50px;
	  height: 50px;
	  background-color: var(--num-border);
	  border-radius: 50%;
	  cursor: pointer;
	}

	.num:hover {
	  background-color: var(--secondary-color);
	  color: white;
	  transition: background-color 1s ease-out;
	}


	.submit {
	  background-color: white;
	  color: var(--secondary-color);
	  width: 100%;
	  padding: 10px;
	  margin-top: 20px;
	  border: none;
	  border-radius: 20px;
	  font-size: 18px;
	  letter-spacing: 2px;
	  cursor: pointer;
	}
























	.attribution {
	  font-size: 11px;
	  text-align: center;
	}

	.attribution a {
	  color: hsl(228, 45%, 44%);
	}